<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="World_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <World_Launcher.Properties.Settings>
            <setting name="smwRomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="emulatorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="patchFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FullscreenCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeletePatchesCheckbox" serializeAs="String">
                <value>True</value>
            </setting>
        </World_Launcher.Properties.Settings>
    </userSettings>
</configuration>